# --- macOS ---
.DS_Store

# --- Node backend & frontend ---
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
build/

# --- Environment Files ---
*.env
.env
.env.local
.env.development
.env.production

# --- Logs ---
logs/
*.log

# --- Editor ---
.vscode/
.idea/

# --- Python (if backend is Django) ---
__pycache__/
*.pyc
db.sqlite3
